@import "../mixins";

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  width: 50%;
  padding: 36px 50px 50px;

  border-radius: 18px;
  background-color: #f2da32;
  border: none;
  outline: none;
}

.modal-header {
  display: flex;
}

.modal-close-button {
  @extend %reset-button;
  position: absolute;
  top: 15px;
  right: 15px;

  path {
    transition: fill .2s;
  }

  &:hover path {
    fill: lighten(#000, 30%);
  }
}

.modal-close-button:hover {
  cursor: pointer;
}

.modal-title {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;

  border-radius: 18px;
  background-color: #FFFFFF;

  .modal-title-text {
    padding-right: 20px;
    font-size: 20px;
    font-weight: 500;
    flex: 1 1;
  }

  .flag {
    flex-shrink: 0;
  }
}



.modal-content {
  padding: 42px 30px;
  margin-top: 30px;

  border-radius: 18px;
  background-color: #FFFFFF;
}

.modal-content p {
  margin-bottom: 25px;

  font-size: 18px;
  line-height: 22px;
}

.modal-degree {
  margin-top: 0;
}

.modal-content p:last-of-type {
  margin-bottom: 0;
}
