@import "../mixins";

$min-width: 770px;

.table-container {
  padding: 40px 0;
  min-height: 1000px;

  @include for-tablets-only() {
    overflow: auto;
  }

  @include for-phone-only() {
    min-height: auto;
    padding: 20px 0;
  }
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 20px 100px;
  background-color: #fff;
  min-width: $min-width;
  z-index: 5;
  box-sizing: border-box;

  @include for-phone-only() {
    display: block;
    min-width: auto;
    padding: 0;
  }
}

.header-col.col-university {
  @include for-phone-only() {
    display: none;
  }
}

.header-col {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: #696969;
  padding: 0 5px;
  box-sizing: border-box;

  @include for-phone-only() {
    padding: 0;
  }
}

.header-col-arrow {
  width: 40px;
  height: 22px;
  display: inline-block;
  align-self: flex-end;

  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAOCAYAAACCRSRZAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAIlSURBVHgB7ZQ7aFNhFMe/mwRCILcdNIL4GIQOwSGGZFA6iLqI4NBFrGNKnjfBRyAWFFtaQRACgubNTamCoCA4d+lUBCEEREHRIboZrQpBAiHJ7e/SFLq0vWluSof+4fCd73C+8z6fEAfYn7AaUYrH4+Ner/eCLMufarVaV+whIpHIRZ/PN16pVD7spGsoGYy9kSRJcblck36//6fT6fwyzKQ0TZPq9fp5fKn4nUU04fF4nlar1eZ27yzCADB+jWMROonxV263uxqLxa5yl4TJCAaDZ7D9Fp/L+LqEaMVisVxRVfXPTm/7CkZRlNM4edBLTsd7+Dv5fH5FDIhwODxG0Pdhb0A27H7knMf2a6M2dlXZaDR6lqrN4PByT7TU7XZnC4XCO9En2IkjHNPYuynWJ+Vbu92eK5VKL0SfGGhM6NQESTyEdUP6Dr3sdDqPbDbbZ4fDoaXT6S3fJhKJkVarpdCNu1xHoVX4uWazuVAulxtiFzBl5qlugMrqQY3pNsFzkpkhsO/ZbFbbrBsKhUZJ9jZFCKF3FNEvOpyxWq3PMpnMqhgApi0wlbZT6alepU9A/wlWJegnzH0tEAjIdrs9jPwWdAz6RxIL6Mzncrm/wgSY/hslk8nDdOQ6bIpgj3P+JuAl+HPwpzT935Wkx4xjtlgs/hAmwvRkNsA+HSLgKQK/x3VErO/UIrlM06m6GAKGlswGUqmU3Gg0Jhm3ZX67r+IAxrAGfgraOhkVBxUAAAAASUVORK5CYII=');
  background-size: contain;
  background-repeat: no-repeat;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  height: 94px;
  padding: 0 10px 0 20px;
  min-width: $min-width;
  box-sizing: border-box;

  background: #EBEBEB;
  border-radius: 10px;

  cursor: pointer;
  transition: background .2s;

  &.isHiddenRow {
    display: none;
  }

  &:hover {
    background: #CECECE;
  }

  @include for-tablets-only() {
    height: 104px;
  }

  @include for-phone-only() {
    display: block;
    min-width: 0;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
  }
}

.row + .row {
  margin-top: 17px;
}

.col {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0 5px;
  box-sizing: border-box;

  @include for-phone-only() {
    padding: 0;
  }
}

.col-university {
  flex: 1 1;
}

.university-date {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;

  color: #696969;
}

.col-logo {
  flex: 0 0 80px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  box-sizing: border-box;

  @include for-phone-only() {
    position: absolute;
    top: 25px;
    left: 15px;
    width: 50px;
    height: auto;
  }
}

.table-logo {
  max-width: 100%;
  max-height: 90%;
}

.col-flag {
  flex: 0 0 200px;
  align-items: center;

  &.col-text {
    @include for-phone-only() {
      position: absolute;
      left: 15px;
      bottom: 22px;
    }
  }

  @include for-tablets-only() {
    flex-basis: 170px;
  }
}

.flag-wrapper {
  width: 72px;
  height: 42px;
}

.flag {
  height: 38px;
  width: 60px;

  border-radius: 5px;
  background-size: 60px;
  background-position: 0;

  @include for-phone-only() {
    height: 19px;
    width: 30px;
    background-size: 30px;
  }
}

.col-degrees {
  flex: 0 0 300px;

  &.col-text {
    font-size: 16px;
    padding-left: 15px;

    @include for-tablets-only() {
      flex-basis: 180px;
    }

    @include for-phone-only() {
      margin-top: 10px;
      padding-left: 0;
    }
  }

  @include for-tablets-only() {
    flex-basis: 180px;
  }
}

.col-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.25;

  color: #000000;
}

.col-university .col-text {
  font-weight: 500;
}

.react-select-container {
  .col-flag & {
    margin: 0 auto;
  }

  @include for-phone-only() {
    width: 100%;
    margin-bottom: 15px !important;
  }
}

.select-control {
  width: 150px;

  @include for-phone-only() {
    width: 100%;
  }
}

.select-control div:first-child {
  color: #696969 !important;
}
